<%- include('partials/header') %>

    <main class="main-container">
        <img src="" alt="" class="main__img">
        <div class="main__label-container" data-aos="flip-left">
            <div class="main__quote-container">
                <h2 class="main__quote-label">"<%= quote.phrase %>"</h2>
                <h3 class="main__character-label">
                    <%= quote.character %>
                </h3>
            </div>
            <div class="main__actor-container">
                <h4 class="main__actor-name">
                    <%= quote.actor %>
                </h4>
                <img src="" alt="" class="main__actor-img">
            </div>
        </div>
    </main>
    <footer class="footer-container">
        <button id="reroll-button" class="footer__reroll-button">Clique !</button>
    </footer>
    <%- include('partials/footer') %>